<h1>Adjustments</h1>

<%= link_to 'Add a new adjustment',new_adjustment_path, class: "btn btn-block btn-outline-secondary" %>

<div class="row mb-3">
  <div class="col-md-12">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Payment Occurrence </th>
          <th> Loan </th>
          <th> Adjustment </th>
          <th> Beginning Adjustment Period </th>
          <th> Ending Adjustment Period </th>
          <th> Adjustment details </th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @adjustments.each do |adjustment| %>
          <%= render "adjustments/index_row", adjustment: adjustment %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<br>


